{% comment %} <footer> {% endcomment %}
    {% comment %} <div class="container"> {% endcomment %}
        {% comment %} <div class="row"> {% endcomment %}
            {% comment %} <div class="col-lg-4"> {% endcomment %}
                {% comment %} <h2 class="logo-2 mb-lg-4 mb-3"> {% endcomment %}
                    {% comment %} <a href="#"> {% endcomment %}
                        {% comment %} <span aria-hidden="true" > {% endcomment %}
                            {% comment %} Django Project {% endcomment %}
                        {% comment %} </span> {% endcomment %}
                    {% comment %} </a> {% endcomment %}
                {% comment %} </h2> {% endcomment %}
            {% comment %} </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
{% comment %} </footer> {% endcomment %}
<footer class="mb-0">
    <div class="container-fluid">
        <div class="block-space">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <img class="w-75" src="assets/images/logo.png" alt="">
                    <p class="mt-4">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout.
                    </p>
                    <div class="d-flex my-4">
                        <a href="#" class="s-icon">
                        <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" class="s-icon">
                        <i class="ri-skype-fill"></i>
                        </a>
                        <a href="#" class="s-icon">
                        <i class="ri-linkedin-fill"></i>
                        </a>
                        <a href="#" class="s-icon">
                        <i class="ri-whatsapp-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h4 class="footer-title">Quick Link</h4>
                    <ul class="f-link list-unstyled mb-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Tv Shows</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-4">
                    <h4 class="footer-title">Important Link</h4>
                    <ul class="f-link list-unstyled mb-0">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Cotact Us</a></li>
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Pricing Plan</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 r-mt-15">
                    <h4 class="footer-title">Subscribe</h4>
                    <p>Subscribe our newsletter to get latest update &amp; news.</p>
                    <div class="subscribe">
                        <form class="mt-4" action="#">
                        <div class="form-group">
                            <input type="email" class="form-control mb-0" id="exampleInputEmail3" placeholder="Enter email" autocomplete="off" required="">
                        </div>
                        <button type="submit" class="btn btn-hover btn-block">Subscribe Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright py-4">
            <div class="container-fluid">
                <p class="mb-0 text-center font-size-14 text-body">VIDSTREAM - <span id="date">2024</span> All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
