<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 20px;">
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Персоны</button>
        <div class="dropdown-menu">
            <a href="{% url 'movies:persons' %}" class="dropdown-item">Список</a>
            <a href="{% url 'movies:person_create' %}" class="dropdown-item">Создать</a>
        </div>
    </div>
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
    </div>
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Фильмы</button>
        <div class="dropdown-menu">
            <a href="{% url 'movies:index' %}" class="dropdown-item">Список</a>
            <a href="{% url 'movies:movie_create' %}" class="dropdown-item">Создать</a>
        </div>
    </div>
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Жанры</button>
        <div class="dropdown-menu">
            <a href="{% url 'movies:genre_list' %}" class="dropdown-item">Список</a>
            <a href="{% url 'movies:genre_create' %}" class="dropdown-item">Создать</a>
        </div>
    </div>
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Категории</button>
        <div class="dropdown-menu">
            <a href="{% url 'movies:category_list' %}" class="dropdown-item">Список</a>
            <a href="{% url 'movies:category_create' %}" class="dropdown-item">Создать</a>
        </div>
    </div>
    <div class="dropdown" style="margin: 10px 20px 10px 20px;">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Страны</button>
        <div class="dropdown-menu">
            <a href="{% url 'movies:country_list' %}" class="dropdown-item">Список</a>
            <a href="{% url 'movies:country_create' %}" class="dropdown-item">Создать</a>
        </div>
    </div>
</div>

{% comment %} <ul style="display: flex; flex-direction: row; justify-content: center; align-items: center; font-size: 20px;"> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:actors' %}">Актеры</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:directors' %}">Режиссеры</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:actor_create' %}">Создание нового актера</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:director_create' %}">Создание нового режиссера</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:category_list' %}">Категории</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:category_create' %}">Создание новой категории</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:genre_list' %}">Жанры</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:genre_create' %}">Создание нового жанра</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:country_list' %}">Страны</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:country_create' %}">Создание новой страны</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:index' %}">Фильмы</a></li> {% endcomment %}
    {% comment %} <li style="margin: 10px 20px 10px 20px;"><a href="{% url 'movies:movie_create' %}">Создание нового фильма</a></li> {% endcomment %}
{% comment %} </ul> {% endcomment %}