<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent" >Рейтинг</h3>
    <ul class="w3layouts-box-list">
        {% comment %} <li> {% endcomment %}
            {% comment %} <a href="#"> {% endcomment %}
                {% comment %} <span class="fa fa-star" aria-hidden="true" ></span> {% endcomment %}
                {% comment %} <span class="fa fa-star" aria-hidden="true" ></span> {% endcomment %}
                {% comment %} <span class="fa fa-star" aria-hidden="true" ></span> {% endcomment %}
                {% comment %} <span class="fa fa-star" aria-hidden="true" ></span> {% endcomment %}
                {% comment %} <span class="fa fa-star" aria-hidden="true" ></span> {% endcomment %}
                {% comment %} <span class="editContent" >5.0</span> {% endcomment %}
            {% comment %} </a> {% endcomment %}
        {% comment %} </li> {% endcomment %}
        {% for rating in view.get_ratings %}
            <li>
                <input type="checkbox" class="checked" name="rating" value="{{rating}}">
                <span class="span editContent" >{{rating}}</span>
            </li>
        {% endfor %}
    </ul>
</div>