{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'movies:bookmark_movies' %}">Фильмы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'movies:bookmark_persons' %}">Персоны</a>
            </li>
        </ul>
    </div>
        {% include 'movies/includes/movie_objects.html' %}
{% endblock %}
