{% extends 'base.html' %}
{% load thumbnail %}
{% load movie_tag %}
{% load static %}
{% block title %}{{object.name}}({{object.release_year}}){% endblock title %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card mb-3 card_movie_detail">
            <div class="row g-0">

                <div class="col-md-4">
                    {% thumbnail object.poster "600x900" crop="center" as poster %}
                        <img src="{{poster.url}}" class="img-fluid rounded-start" alt="Постер">
                    {% endthumbnail %}
                </div>  <!-- постер фильма -->

                <div class="col-md-8">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h1 class="card-title">{{object.name}}</h1>
                            {% if user.is_authenticated %}
                                {% bookmark_is_exists object user as bookmark %}
                                <a class="btn btn-primary" href="{% url 'movies:add_bookmark_movie' object.id %}">
                                    {% if bookmark %}
                                        <img style="width: 30px; height: 30px;" src="{% static 'img/bookmark_is.svg' %}" alt="За стеклом">
                                    {% else %}
                                        <img style="width: 30px; height: 30px;" src="{% static 'img/bookmark_not.svg' %}" alt="За стеклом">
                                    {% endif%}
                                </a>
                            {% endif %}
                        </div>

                        <p class="card-text">
                            <ul class="p-0 p-lg-2">
                                <li class="mb-2"><span><b>Год:</b> {{object.release_year}} </span></li>
                                <li class="mb-2"><span><b>Страна:</b> {{ object.countries.all|join:', ' }}</span>
                                </li>
                                <li class="mb-2"><b>Режиссер:</b>
                                    <div class="d-flex">
                                        {% for director in object.directors.all %}
                                        <div class="card text-center me-2" style="width: 7rem;">
                                            {% thumbnail director.picture "100x80" crop="center" as picture %}
                                                <a href="{{director.get_absolute_url}}"><img src="{{picture.url}}" class="card-img-top" alt="..."></a>
                                            {% endthumbnail %}
                                            <div class="card-body p-0" style="text">
                                                {{director}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>

                                <li class="mb-2"><b>Актеры:</b>
                                    <div class="d-flex">
                                        {% for actor in object.actors.all %}
                                        <div class="card text-center me-2" style="width: 7rem;">
                                            {% thumbnail actor.picture "100x80" crop="center" as picture %}
                                                <a href="{{actor.get_absolute_url}}"><img src="{{picture.url}}" class="card-img-top" alt="..."></a>
                                            {% endthumbnail %}
                                            <div class="card-body p-0" style="text">
                                                {{actor}}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </li>

                                <li class="mb-2">
                                    <span><b>Жанр:</b>
                                        {{ object.genres.all|join:', ' }}
                                    </span>
                                </li>

                                <li class="mb-2">
                                    <div>
                                        <p><h3>Рейтинг: {{object.rating}}</h3></p>
                                        <form action="{% url 'movies:add_rating' %}" method="post" name="rating">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{object.id}}" name="movie">
                                            {{rating_form}}
                                        </form>
                                    </div>
                                </li>

                            </ul>
                        </p>
                    </div>
                </div>  <!-- данные о фильме -->

            </div>
        </div>  <!-- верхний блок-->

        <div class="card-body">
            <h5 class="card-title">О фильме {{object.name }}</h5>
            <p class="card-text">{{object.description|linebreaks }}</p>
        </div> <!-- текстовое описание фильма -->
    
    </div>  <!-- карточка фильма -->
    <div class="container-fluid p-0">{% include 'includes/comments.html' %}</div>  <!-- комментарии -->
</div>  <!--container-->

<!--рейтинг-->
<script>
    const rating = document.querySelector('form[name=rating]');
    
    rating.addEventListener("change", function (e) {
        // Получаем данные из формы
        let data = new FormData(this);
        fetch(`${this.action}`, {
            method: 'POST',
            body: data
        })
            .then(response => alert("Рейтинг установлен"))
            .catch(error => alert("Ошибка"))
    });
</script>
{% endblock %}
