{% extends 'base.html' %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
    <section class="py-md-5 py-4" style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container-fluid py-md-3">
            <div class="row">
                {% include 'movies/includes/sidebar_movies.html' %}
                <div class="col-lg-9">
                    Всего фильмов: {{paginator.count}}
                    <div class="row">
                        {% include 'movies/includes/movie_objects.html' %}
                        {% include 'includes/paginator.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <script>
        const checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('click', () => {
                checkbox.closest('form').submit();
            });
        });
    </script> {% endcomment %}
{% endblock %}