{% extends 'base.html' %}
{% load movie_tag %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header text-center">
            <h4>Создание новой персоны</h4>
        </div>
        <div class="card-body">
            <form action="{% url 'movies:person_create' %}" method="post" enctype="multipart/form-data">
                <div>
                    {% csrf_token %}
                    <div class="input-group justify-content-around ">
                        <div class="input-group">
                            {{ form.first_name|addclass:'form-control' }}{{ form.last_name|addclass:'form-control' }}

                            <div class="input-group w-auto ms-2">
                                <label class="input-group-text" for="inputGroupSelect01">{{form.birthdate.label}}</label>
                                {{ form.birthdate|addclass:'form-control' }}
                            </div>
                        </div>
                        
                        <div class="my-3 input-group w-25">
                            <label class="input-group-text" for="inputGroupSelect01">{{form.gender.label}}</label>
                            {{ form.gender|addclass:'form-select' }}
                        </div>

                        <div class="my-3 input-group w-25">
                            {{ form.picture|addclass:'form-control' }}
                        </div>

                        <div class="my-3 input-group w-25">
                            <label class="input-group-text" for="inputGroupSelect01">{{form.country.label}}</label>
                            {{ form.country|addclass:'form-control' }}
                        </div>
                    </div>
  
                    <div class="my-3 input-group">
                        {{ form.description|addclass:'form-control' }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
