{% extends 'base.html' %}
{% load static %}
{% load movie_tag %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
        <section class="py-md-5 py-4" style="padding-left: 3rem; padding-right: 3rem;">
            <div class="container-fluid py-md-3">
                <div class="row">
                    {% include 'movies/includes/sidebar_persons.html' %}
                    <div class="col-lg-9">
                        Всего: {{paginator.count}}
                        <div class="row">
                            {% include 'movies/includes/person_objects.html' %}
                            {% include 'includes/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
{% endblock %}