html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}

body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.main {
    background: rgb(53, 51, 51);
}

.btn-primary {
    /* background: rgb(240, 176, 0); */
}


/* ============================my card movie list===================================== */

.card_movie {
    border: 1px solid #e4e4e4;
    color: #080808;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.card_movie a {
    color: #080808;
}

/* ============================my card movie list===================================== */


/* ============================card movie detail===================================== */

.card_movie_detail {}

.card_movie_detail li {
    list-style: none;
}

.card_movie_detail a {
    color: black;
}

/* ============================card movie detail===================================== */
