{% load thumbnail %}
{% load static %}
<h1>Персоны</h1>
<h6>Всего: {{bookmarks.person|length}}</h6>
{% with bookmarks.person as object_list %}
{% include 'movies/includes/person_objects.html' %}
{% endwith %}
<div class="col-md-4 product-men">
    <div class="product-shoe-info editContent text-center mt-lg-4" >
        <div class="men-thumb-item">
            <a href="{% url 'movies:bookmark_persons' %}">
                <img src="{% static 'img/plus.svg' %}"alt="" width="400px" height="400px">
            </a>
        </div>
        <div class="item-info-product">
            <h4 class="">
                Подробнее
            </h4>
        </div>
    </div>
</div>
<h1>Фильмы</h1>
<h6>Всего: {{bookmarks.movie|length}}</h6>
{% with bookmarks.movie as object_list %}
{% include 'movies/includes/movie_objects.html' %}
{% endwith %}
<div class="col-md-4 product-men">
    <div class="product-shoe-info editContent text-center mt-lg-4" >
        <div class="men-thumb-item">
            <a href="{% url 'movies:bookmark_movies' %}">
                <img src="{% static 'img/plus.svg' %}"alt="" width="400px" height="400px">
            </a>
        </div>
        <div class="item-info-product">
            <h4 class="">
                Подробнее
            </h4>
        </div>
    </div>
</div>