<!-- Карточка фильма -->

{% load thumbnail %}
{% load movie_tag %}
{% load static %}
<div class="col">
    <div class="card card_movie h-100">
        {% if object.poster %}
            {% thumbnail object.poster "390x450" crop="center" as poster %}
                <img src="{{poster.url}}"alt="" width="{{poster.width}}" height="{{poster.height}}" class="card-img-top" alt="...">
            {% endthumbnail %}
        {% else %}
            <img src="{% static 'img/Philosopher.jpg' %}" width="600" height="900" class="img-fluid rounded-start" alt="Постер">
        {% endif %}
        <div class="card-body">
            
            <h5 class="card-title"><a href="{{object.get_absolute_url}}">{{object.name}}({{object.release_year}})</a></h5>
            <div class="d-flex justify-content-between">
                <div class="btn btn-primary"><img style="width: 20px; height: 20px;" src="{% static 'img/fas_fa-star.svg' %}" alt="За стеклом"> <span class="badge bg-secondary">{{ object.rating|floatformat:"0" }}</span></div>
                {% if user.is_authenticated %}
                    {% bookmark_is_exists object user as bookmark %} <!--Определяет находится ли фильм в избранных-->
                    <a class="btn btn-primary" href="{% url 'movies:add_bookmark_movie' object.id %}">
                        {% if bookmark %}
                            <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_is.svg' %}" alt="За стеклом">
                        {% else %}
                            <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_not.svg' %}" alt="За стеклом">
                        {% endif%}
                    </a>
                {% endif %}
            </div>
        </div> <!--card-body-->
    </div> <!-- card -->
</div>
