{% load thumbnail %}
{% load movie_tag %}
{% load static %}
{% for movie in object_list %}
<div class="col-md-4 product-men">
    <div class="product-shoe-info editContent text-center mt-lg-4" >
        <div class="men-thumb-item" style="position: relative;">
            {% thumbnail movie.poster "390x450" crop="center" as poster %}
                <img src="{{poster.url}}"alt="" width="{{poster.width}}" height="{{poster.height}}">
            {% endthumbnail %}
            <div style="position: absolute; bottom: 30px; right: 10px;">
                {% if user.is_authenticated %}
                    {% bookmark_is_exists movie user as bookmark %}
                    <a class="btn btn-primary" href="{% url 'movies:add_bookmark_movie' movie.id %}">
                        {% if bookmark %}
                            <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_is.svg' %}" alt="За стеклом">
                        {% else %}
                            <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_not.svg' %}" alt="За стеклом">
                        {% endif%}
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="item-info-product">
            <div>
                <h4 class="">
                    <a href="{{movie.get_absolute_url}}" class="editContent" >{{movie.name}}({{movie.release_year}})</a>
                </h4>
                Рейтинг: {{movie.rating}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
