{% load thumbnail %}
{% load movie_tag %}
{% load static %}
<div class="col">
    <div class="card card_movie h-100" >
        {% thumbnail object.picture "390x450" crop="center" as picture %}
            <img src="{{picture.url}}"alt="" width="{{picture.width}}" height="{{picture.height}}" class="card-img-top" alt="...">
        {% endthumbnail %}
        <div class="card-body d-flex justify-content-between">
            <h4>
                <a href="{{object.get_absolute_url}}">{{object.first_name}} {{object.last_name}}</a>
            </h4>
            {% if user.is_authenticated %}
                {% bookmark_is_exists object user as bookmark %}
                <a class="btn btn-primary" href="{% url 'movies:add_bookmark_person' object.id %}">
                    {% if bookmark %}
                        <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_is.svg' %}" alt="За стеклом">
                    {% else %}
                        <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_not.svg' %}" alt="За стеклом">
                    {% endif%}
                </a>
            {% endif %}
            
        </div>
    </div>
</div>
