{% load thumbnail %}
{% load movie_tag %}
{% load static %}
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 g-lg-4 ">
    {% for obj in object_list %}
        <div class="col">
            <div class="card card_movie h-100" >
    
                {% thumbnail obj.picture "390x450" crop="center" as picture %}
                    <img src="{{picture.url}}"alt="" width="{{picture.width}}" height="{{picture.height}}" class="card-img-top" alt="...">
                {% endthumbnail %}
    
                <div class="card-body d-flex justify-content-between">
                    <h4>
                        <a href="{{obj.get_absolute_url}}">{{obj.first_name}} {{obj.last_name}}</a>
                    </h4>

                    {% if user.is_authenticated %}
                        {% bookmark_is_exists obj user as bookmark %}
                        <a class="btn btn-primary" href="{% url 'movies:add_bookmark_person' obj.id %}">
                            {% if bookmark %}
                                <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_is.svg' %}" alt="За стеклом">
                            {% else %}
                                <img style="width: 20px; height: 20px;" src="{% static 'img/bookmark_not.svg' %}" alt="За стеклом">
                            {% endif%}
                        </a>
                    {% endif %}
                    
                </div>

            </div>
        </div>
    {% endfor %}
</div>
