{% load static %}
{% load movie_tag %}
{% load thumbnail %}
<div class="col-lg-3">
    {% comment %} <div class="w3layouts-newsletter m-3"> {% endcomment %}
        {% comment %} <h3 class="sear-head editContent" >Поиск актера</h3> {% endcomment %}
        {% comment %} <form action="{% url 'movies:search_person' %}" method="get" class="d-flex editContent" > {% endcomment %}
            {% comment %} <input type="search" placeholder="Введите имя актера..." name="search" class="form-control" required=""> {% endcomment %}
            {% comment %} <button class="btn btn-primary" > {% endcomment %}
                {% comment %} <img src="{% static 'img/search.svg' %}" alt="" style="width: 30px; height: 30px;"> {% endcomment %}
            {% comment %} </button> {% endcomment %}
        {% comment %} </form> {% endcomment %}
    {% comment %} </div> {% endcomment %}
    <form method="get">
        <div class="w3layouts-newsletter m-3">
            <h3 class="sear-head editContent" >Поиск актера</h3>
            {{filter_form.search.label}}
            {{filter_form.search}}
            <button class="btn btn-primary" >
                <img src="{% static 'img/search.svg' %}" alt="" style="width: 30px; height: 30px;">
            </button>
        </div>
        <button type="submit" class="btn btn-sm btn-primary btn-raised m-3">Сортировать</button>
        <p>
            {{filter_form.sort.label}}
            {{filter_form.sort}}
        </p>
        <p>
            {{filter_form.profile.label}}
            {{filter_form.profile}}
        </p>
        <p>
            {{filter_form.gender.label}}
            {{filter_form.gender}}
        </p>
        <button type="submit" class="btn btn-sm btn-primary btn-raised m-3">Фильтровать</button>
    </form>
    {% get_last_movies count=5 %}
</div>