{% load static %}
{% load movie_tag %}
{% load thumbnail %}
<form method="get" name="filter">
    <div>

        <p>
            {{filter_form.sort.label}}
            {{filter_form.sort}}
        </p>

        <p>
            {{filter_form.filter_genres.label}}
            {{filter_form.filter_genres}}
        </p>

        <p>
            {{filter_form.filter_countries.label}}
            {{filter_form.filter_countries}}
        </p>

        <p>
            {{filter_form.filter_years.label}}
            {{filter_form.filter_years}}
        </p>

        <p>
            {{filter_form.filter_rating.label}}
            {{filter_form.filter_rating}}
        </p>
    </div>
    
    <button type="submit" class="btn btn-sm btn-primary btn-raised mr-3">Фильтровать</button>
</form>
{% get_last_movies count=5 %}  <!--Вывод последних добавленных фильмов-->
