{% load static %}
{% load movie_tag %}
{% load thumbnail %}
<form method="get" name="filter">
    <div>
        <div class="input-group mb-3">
            {{filter_form.sort|addclass:"form-select"}}
            <button class="btn btn-outline-primary" type="submit">Сортировать</button>
        </div> <!--сортировка-->

        <div class="input-group justify-content-between">
            <div id="id_genres" class="form-check mb-3 ps-0">
                <label for="id_genres">Жанры</label>
                {% get_genres as genres %}
                {% for genre in genres %}
                <div>
                    <input type="checkbox" name="genres" value="{{genre.id}}" id="id_genres_{{genre.id}}" class="btn-check" autocomplete="off" {% if genre.id in current_genre %}checked{%endif%}>
                    <label for="id_genres_{{genre.id}}" class="btn btn-outline-primary btn-sm mb-1">{{genre.name}}</label>
                    {% comment %} {{option.id_for_label}} {% endcomment %}
                </div>
                {% endfor %}
            </div> <!--жанры-->

            <div id="id_countries" class="form-check mb-3">
                <label for="id_countries">Страны</label>
                {% get_countries as countries %}
                {% for country in countries %}
                    <div>
                        <input type="checkbox" name="countries" value="{{country.id}}" id="id_filter_countries_{{country.id}}" class="btn-check" {% if country.id in current_countries %}checked{%endif%}>
                        <label for="id_filter_countries_{{country.id}}" class="btn btn-outline-primary btn-sm mb-1">{{country.name}}</label>
                    </div>
                {% endfor %}
            </div> <!--фильтр стран-->
        </div> <!--жанры и страны-->
        
        <div class="input-group mb-3">
            <label for="id_start_year">Выберете дату</label>
            <div class="input-group">
                {{filter_form.start_year|addclass:"form-select"}}
                {{filter_form.end_year|addclass:"form-select"}}
            </div>
        </div>

        <div class="input-group mb-3">
            <label for="id_rating">Рейтинг</label>
            <div id="id_rating" class="btn-group" role="group" aria-label="рейтинг">
                {% for rating in 11|get_range %}
                    <input type="radio" class="btn-check" value="{{rating}}" name="rating" id="id_rating_{{rating}}">
                    <label class="btn btn-outline-primary" for="id_rating_{{rating}}">{{rating}}</label>
                {% endfor %}
            </div>
        </div>

    </div>
    
    <button type="submit" class="btn btn-sm btn-primary btn-raised mr-3">Фильтровать</button>
</form>
{% get_last_movies count=5 %}  <!--Вывод последних добавленных фильмов-->
